<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%="#{@name}"%></h1>
 <h2>Coach: <%="#{@coach}"%><br><br>
 Point Guard: <%="#{@pointguard}"%><br><br>
 Shooting Guard: <%="#{@shootingguard}"%><br><br>
 Small Forward: <%="#{@smallforward}"%><br><br>
 Power Forward: <%="#{@powerforward}"%><br><br>
 Center: <%="#{@center}"%></h2>

 </body>
</html>


